@media print {
  .pdf-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    background-color: white;
  }

  body {
    margin-top: 150px; /* espacio header */
  }
}